.pageError {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  max-width: 450px;
  padding: 15px;
  text-align: center;
  border: 2px solid var(--color-brown);

  @media screen and (min-width: 992px) {
    max-width: 600px;
    padding: 50px 100px;
  }
}

.header {
  color: var(--color-brown);
}

.message {
  line-height: 1.75;
}
